html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body, .content, .info-title, .info-title-header, .logo, nav, h3 {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 400px;
  background: url(./home1.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

h3 {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;

}

.content {
  width: 100%;
  /* margin: 4em auto; */
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

p {
  width: 90%;
  margin: auto;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  z-index: 25;
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* img {
  width: 100%;
} */

.parallax1 { 
  /* The image used */
  background-image: url("./home1.jpg");

  /* Set a specific height */
  height: 400px; 

  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 { 
  /* The image used */
  background-image: url("./home2.jpg");

  /* Set a specific height */
  height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 { 
  /* The image used */
  background-image: url("./home3.png");

  /* Set a specific height */
  height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-title {
  position: absolute;
  z-index: 20;
  margin-top: 180px;
  width: 100%;
  /* margin-left: 25%; */
  text-align: center;
  color:white;
}

.info-title-header {
  position: absolute;
  z-index: 20;
  margin-top: 190px;
  width: 100%;
  /* margin-left: 25%; */
  text-align: center;
  color:white;
}

.parallax-container {
  width: 100%;
}

footer {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}


@media(max-width: 886px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}
